svg {
	text-display: inline-block;
	vertical-align: middle;
	padding-bottom: 3px;
}

a {
	text-decoration: none;
}

.box {
	border: 2px solid-black;
	padding: 25px;
	margin: 20px;
}

.box div {
	margin: 5px;
}

.box p {
	color: black;
}

.controls {
	display: flex;
}

.horizontalspace {
	flex-grow: 1;
}

.stats {
	display: inline-flex;
	align-items: center;
}

.buttons * {
	margin-left: 5px;
}

.stats *:not(svg) {
	margin-right: 5px;
}

ol {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

body {
	background-color: #DBF9FC;
	font-family: 'Legend Deca', sans-serif;
	width: 800px;
	margin: auto;
	color: #2E475D;
}

header {
	background-color: #333333;
	font-family: 'Legend Deca', sans-serif;
        width: 800px;
        margin: auto;
        color: #2E475D;

}

footer {
	background-color: #333333;
	font-family: 'Legend Deca', sans-serif;
        width: 800px;
        margin: auto;
        color: #2E475D;

}

table {
	padding: 10px;
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}

td, th {
	border:	none;
	padding-top: 20px;
}

ul {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;
}

li {
	border-right: 1px solid #bbb;
}

li:last-child {
	border-right: none;
}
